---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

<h2>Published</h2><hr />
<ul>
  <li><strong>Radvand, T.</strong>, Bahrami, S., Yin, Y., Laberteaux, K. (2022). <em>Curbing Cruising-as-Substitution-For-Parking in Automated Mobility</em>. <i>Transportation Research Part C: Emerging Technologies</i>.<br />
  <small>Supported by National Science Foundation (CMMI-1904575) and Toyota Motor Engineering & Manufacturing North America (TMNA).</small></li>
</ul>

<h2>Under Preparation</h2><hr />
<ul>
  <li>Abdolmaleki, M., Chao, X., <strong>Radvand, T.</strong>, Yin, Y. (2025). <em>Dynamic Joint Pricing and Empty Relocation Policies for Ride-Sourcing Systems</em>. <i>Under preparation for submission</i>.</li>
</ul>

<h2>Work in Progress</h2><hr />
<ul>
  <li>Mostagir, M., <strong>Radvand, T.</strong>, Siderius, J. (2025). <em>Optimal Diversity</em>. <i>Work in progress</i>.<br /><small>Solo student author, listed in alphabetical order.</small></li>
  <li><strong>Radvand, T.</strong>, Abdolmaleki, M., Tewari, A., Mostagir, M. (2025). <em>Zero-shot Statistical Tests for LLM-Generated Text Detection using Finite Sample Concentration Inequalities</em>. <i>Work in progress</i>.<br />
  <small>Award: Best Presentation Award at MSSISS 2025.<br />Media: Featured in Paris Women in Machine Learning and Data Science (WiMLDS) Weekly Captures.</small></li>
</ul>

<h2>Other Publications</h2><hr />
<ul>
  <li><strong>Radvand, T.</strong>, Toufigh, V. (2020). <em>Properties of Concrete Containing Guar Gum</em>. <i>European Journal of Environmental and Civil Engineering</i>.<br />
  <small>Undergraduate publication.</small></li>
</ul>

<h2>Theses</h2><hr />
<ul>
  <li><strong>Radvand, T.</strong> (2021). <em>Sustainable Routing Guidance for a Road Network with Work Zones During the Connected and Automated Vehicles Era</em>. <i>Purdue University Graduate School (Master’s Thesis)</i>.</li>
</ul>
