---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% include base_path %}

<h2>Conference Presentations</h2>
<ul>
   <li><strong>2025</strong> – <em>Zero-Shot Statistical Tests for LLM-Generated Text Detection using Finite Sample Concentration Inequalities
</em><br />
   Invited for presentation in the Revenue Management and Pricing (RMP) confenrece, Columbia University
  </li>
</em><br />
   Oral presentation in the MSSISS confenrece, University of Michigan <br />
   <small><strong>Award:</strong> Best Presentation Award at MSSISS 2025.
  </li>
   <li><strong>2022</strong> – <em>A Stochastic Model for Estimating Search Time for On-street Parking</em><br />
    Oral presentation in INFORMS Annual Meeting, Indiana
  </li>
  <li><strong>2022</strong> – <em>Dynamic Parking Management For Automated Vehicles In Downtown Areas</em><br />
     Poster Presentation in TRB Peer-reviewed Conference
  </li>
 </em><br />
    Oral presentation at INFORMS Annual Meeting, Anaheim
  </li>
</ul>

