---
layout: archive
title: "Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% include base_path %}

<h2>Conference Presentations</h2>
<ul>
  <li><strong>2025</strong> – <em>Zero-Shot Statistical Tests for LLM-Generated Text Detection using Finite Sample Concentration Inequalities</em><br />
    Invited presentation, Revenue Management and Pricing (RMP) Conference, Columbia University<br />
    Oral presentation, MSSISS Conference, University of Michigan<br />
    <span style="font-size: 90%;"><strong>Award:</strong> Best Presentation Award at MSSISS 2025</span>
  </li>

  <li><strong>2022</strong> – <em>A Stochastic Model for Estimating Search Time for On-street Parking</em><br />
    Oral presentation, INFORMS Annual Meeting, Indiana
  </li>

  <li><strong>2022</strong> – <em>Dynamic Parking Management For Automated Vehicles In Downtown Areas</em><br />
    Poster presentation, TRB Peer-reviewed Conference<br />
    Oral presentation, INFORMS Annual Meeting, Anaheim
  </li>
</ul>
